# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/node_modules/.bin/atob
*.cmd
server/node_modules/.bin/dateformat
server/node_modules/.bin/detect-libc
server/node_modules/.bin/knex
*.js
server/node_modules/.bin/mime
server/node_modules/.bin/mkdirp
server/node_modules/.bin/needle
server/node_modules/.bin/node-gyp
server/node_modules/.bin/node-pre-gyp
server/node_modules/.bin/nopt
*.md
server/node_modules/@types/express-serve-static-core/LICENSE
server/node_modules/.bin/rc
server/node_modules/.bin/rimraf
server/node_modules/.bin/semver
server/node_modules/.bin/sshpk-sign
server/node_modules/.bin/sshpk-verify
server/node_modules/.bin/strip-indent
server/node_modules/.bin/tree-kill
server/node_modules/.bin/ts-node
server/node_modules/.bin/ts-node-dev
server/node_modules/.bin/ts-node-script
server/node_modules/.bin/ts-node-transpile-only
*.ts
server/node_modules/.bin/tsnd
server/node_modules/.bin/tsserver
server/node_modules/.bin/uuid
server/node_modules/.bin/which
server/node_modules/.yarn-integrity
server/node_modules/@types/body-parser/LICENSE
*.json
server/node_modules/@types/connect/LICENSE
server/node_modules/@types/express/LICENSE
server/node_modules/@types/mime/LICENSE
server/node_modules/@types/node/LICENSE
server/node_modules/@types/qs/LICENSE
server/node_modules/@types/range-parser/LICENSE
server/node_modules/@types/serve-static/LICENSE
server/node_modules/@types/strip-json-comments/LICENSE
server/node_modules/abbrev/LICENSE
server/node_modules/accepts/LICENSE
server/node_modules/ajv/dist/ajv.min.js.map
*.jst
*.def
server/node_modules/ajv/LICENSE
*.yml
server/node_modules/ajv/scripts/info
server/node_modules/ajv/scripts/prepare-tests
server/node_modules/ajv/scripts/publish-built-version
server/node_modules/ajv/scripts/travis-gh-pages
server/node_modules/ansi-regex/license
server/node_modules/anymatch/LICENSE
server/node_modules/aproba/LICENSE
server/node_modules/are-we-there-yet/LICENSE
server/node_modules/arr-diff/LICENSE
server/node_modules/arr-flatten/LICENSE
